<h1>Donations</h1>
<ul>
<% if @donations.size > 0 %>
    <% @donations.each do |donation| %>
    <li><%= donation.toy.name %></li>
    <% end %> 
<% else %>
    You have not made any donations!<br><br>
    <%= link_to 'Donate Now', children_path %>
<% end %>
</ul>